@{
  Layout = "_Layout";
  ViewBag.Title = "Add Treat To Flavor";
}

@model TreatTracker.Models.Flavor

<h1>Add Treat to @Model.Type Flavor</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Select Treat To Add:")
  @Html.DropDownList("TreatId")

  <input type="submit" value="Add Treat" />
}

<p>@Html.ActionLink($"Back to {Model.Type}", "Details", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Back To All Flavors", "Index")</p>
<p>@Html.ActionLink("Back To Home", "Index", "Home")</p>
