@{
  Layout = "_Layout";
  ViewBag.Title = "Add New Flavor";
}

@model TreatTracker.Models.Flavor

<h4>Add a New Flavor</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type, new { @required="required" })

  @Html.Label("Select Treat")
  @Html.DropDownList("TreatId", "Select Treat")

  <input type="submit" value="Add New Flavor" />
}
<p>@Html.ActionLink("Back To All Flavors", "Index")</p>