@{
  Layout = "_Layout";
  ViewBag.Title = "Flavor Details";
}

@model TreatTracker.Models.Flavor;

<h1>@Model.Type Flavor</h1>

@if (Model.Treats.Any())
{
  <h4>@Model.Type Treats:</h4>
  @foreach (var join in Model.Treats)
  {
    <p>@Html.ActionLink($"{join.Treat.Name}", "Details", new { id = join.Treat.TreatId })</p>
  }
}
else
{
  <p>There are not treats saved.</p>
  <p>Click on "Add New Treat" below to add @Model.Type-flavored Treats!</p>
}

<p>@Html.ActionLink("Add Treat To", "AddTreat")</p>
<p>@Html.ActionLink("Back To All Flavors", "Index")</p>
<p>@Html.ActionLink("Back To Home", "Index", "Home")</p>