@{
  Layout = "_Layout";
  ViewBag.Title = "Flavor Details";
}

@model TreatTracker.Models.Flavor;

<h1>@Model.Type Flavor</h1>

@if (Model.Treats.Any())
{
  <h4>@Model.Type Treats:</h4>
  @foreach (var join in Model.Treats)
  {
    <p>
      @Html.ActionLink($"{join.Treat.Name}", "Details", "Treats", new { id = join.Treat.TreatId })
      @using (Html.BeginForm("DeleteTreat", "Flavors"))
      {
        @Html.Hidden("joinId", @join.TreatFlavorId)
        <input type="submit" value="Remove @join.Treat.Name" />
      }
    </p>
  }
}
else
{
  <p>There are no treats saved.</p>
  <p>Click on "Add Treats" below to add @Model.Type-flavored Treats!</p>
}

<hr>
<p>@Html.ActionLink($"Edit {Model.Type} Flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink($"Add Treats To {Model.Type} Flavor", "AddTreat", new { id=Model.FlavorId})</p>
<p>@Html.ActionLink($"Remove {Model.Type}", "Delete", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Back To All Flavors", "Index")</p>
<p>@Html.ActionLink("Back To Home", "Index", "Home")</p>