@{
  Layout = "_Layout";
  ViewBag.Title = "Add New Treat";
}

@model TreatTracker.Models.Treat

<h4>Add a New Treat</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @required="required" })

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId", "Select Flavor")

  <input type="submit" value="Add New Treat" />
}

<hr>
<p>@Html.ActionLink("Back To All Treats", "Index")</p>